/*............................RAZ.........................*/
* {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}





/*....................HEADER.............................*/

body {
  background-color: #F5D3D4;
  width: 100%;
}

//a retirer en fin de css pour des soucis de coherence
.mainHeader {

  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #57304F;




  &>#logo {
    width: 400px;


    &>a {
      width: 400px;

      &>img {
        width: 200px;
        height: 200px;
      }
    }

  }

  &>nav {
    width: 800px;
    text-align: center;




    &>ul {
      width: 800px;
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;



      &>li {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background-color: #57304F;
        display: flex;
        justify-content: center;
        align-items: center;

        &>a {
          width: 100%;
          text-decoration: none;
          font-size: 2.5rem;
          color: #F5D3D4;



        }

      }
    }
  }
}


/*....................SECTION.............................*/

main {

  width: 100%;

  &>#presentation {
    width: 100%;

    &>#bienvenue {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;



      &>img {
        width: 750px;
        height: 500px;
        display: flex;
        margin: 0 auto;
        position: relative;



      }

      h1 {
        width: 400px;
        font-size: 1rem;
        ;
        position: absolute;
        text-align: center;
        margin-top: 150px;
        margin-left: 550px;
        color: #F5D3D4;
      }

      p {
        width: 350px;
        font-size: 1rem;
        ;
        position: absolute;
        text-align: center;
        margin-top: 200px;
        margin-left: 570px;
        color: #F5D3D4;
      }

    }

    &>aside {
      width: 100%;

      &>fieldset {
        width: 80%;
        margin: 30px auto;
        border-radius: 5px;
        box-shadow: 20px 20px 20px;

        &:nth-child(2),
        &:nth-child(4) {
          legend {
            margin-left: 75%;

          }
        }

        &>legend {
          width: 350px;
          color: #F5D3D4;
          background-color: #385a64;
          font-size: 1.8rem;
          padding: 5px 5px 5px 5px;
          margin-left: 20px;
          display: flex;
          justify-content: center;


        }

        &>#reponse1,
        #reponse2,
        #reponse3,
        #reponse4 {
          width: 1500px;
          background-color: #F5D3D4;
          color: #57304F;
          font-size: 1.6rem;
          padding: 10px;

          span {
            font-weight: bold;
            font-size: 2rem;
          }

        }
      }


    }




  }


  &>#mesProjets {
    width: 100%;

    &>article {
      width: 100%;

      &>.containerCards {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 150px;


        &>.card {
          width: 400px;
          background-color: #57304F;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 25px;
          margin-bottom: 50px;
          position: relative;

          &>img {
            width: 400px;
            height: 200px;
          }

          &>h1 {

            margin: 10px auto;
            color: #F5D3D4;
            font-size: 2.2rem;
          }

          &>h2 {
            margin-top: 10px;
            color: #F5D3D4;
            font-size: 2.0rem;
            text-align: center;
          }

          &>p {

            width: 398px;
            height: 90px;
            margin-top: 10px;
            background-color: #F5D3D4;
            color: #57304F;
            font-size: 1.5rem;
            text-align: center;
            border-left: 1px solid #57304F;
            border-right: 1px solid #57304F;

          }

          &>a {
            width: 250px;
            margin: 15px auto;
            border-radius: 10px;
            border: 1px solid black;
            text-align: center;
            font-size: 1.5rem;
            text-decoration: none;
            background-color: #F5D3D4;
            color: #57304F;

          }
        }





      }
    }
  }

  &>#onglet {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    &>a {
      width: 50%;
      color: #5f256f;
      text-align: center;
    }
  }

  &>#formation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    h2, li, p{
      color: #F5D3D4;
    }

    &>#etudesEtDiplomes{
      width: 30%;
      height: 200px;
      border: 5px solid white;
      display: flex;
      border-radius: 50%;
      flex-direction: column;
      margin-top: 25px;
      margin-left: 25px;
      background-color: #57304F;
      text-align: center;
      justify-content: center;

      &>ul{
        width: 100%;
        list-style-type: none;
        
        &>li{
          width: 100%;
          list-style-type: none;
        }
      }
    }





    &>.carousel {
      position: relative;
      width: 25%;
      height: 200px;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      margin-top: 25px;

      
      

      &>.carouselItem {
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        
        display: flex;
        justify-content: flex-end;

        &>img{
          width: 150px;
          height: 150px;
        }

        

      }

      &>.carouselItem.active{
        opacity: 1;
      }


      
    }

    &>#Expro{
      width: 30%;
    height: 200px;
    border: 5px solid white;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #57304F;
    text-align: center;
    justify-content: center;
    }


  }

  &>#formation > div:first-child {
    align-self: flex-start;
  }
  
  &>#formation > div:nth-child(2) {
    align-self: flex-end;
  }
  
  &>#formation > div:last-child {
    align-self: flex-start;
  }
  

  &>#contact {
    width: 100%;

    &>#titreFormulaire {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      color: #57304F;
    }

    &>#formulaire {
      max-width: 1000px;
      //width: 50%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 50px auto;
      background-color: #57304F;
      //box-shadow: 0 0 40px 30px #57304F;
      border-radius: 10px 10px 10px 10px;

      &>#boite {
        width: 50%;
        display: flex;
        flex-direction: column;

        &>#infosContact {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          &>h2 {
            color: #F5D3D4;
            margin-top: 10px;
          }

          &>p {
            margin-top: 20px;
            color: #F5D3D4;
          }
        }

        &>form {
          width: 500px;
          display: flex;
          flex-direction: column;
          margin-top: 25px;

          &>.champ {
            width: 250px;
            margin-left: 39px;
            margin-top: 30px;

            color: #14183d;

            &>label {
              color: #F5D3D4;
            }

            &>input {
              border: 0;
              height: 25px;
              border-radius: 50px;
              padding-left: 10px;
              margin-top: 10px;

            }

            &>textarea {
              width: 400px;
              height: 300px;
              resize: none;
              border-radius: 50px;
              text-align: center;
              margin-top: 10px;
            }
          }

          &>.formu {
            width: 100px;
            height: 50px;
            cursor: pointer;
            display: flex;
            margin: 25px auto;
            justify-content: center;
            align-items: center;
            color: #57304F;
            font-size: 1.3rem;
            background-color: #f5d3d4;
            border: 0;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0 0 10px 3px #5f256f;


          }

          &>.formu:hover {
            display: block;
            height: 50px;
            transform: scale(1.5, 1.5);
            //margin: 25px auto;
            cursor: pointer;
            text-align: center;
            line-height: 50px;
          }

          &>#identity {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 10px;

            &>.champ>label {
              color: #F5D3D4;
            }

            &>.champ>input {
              border: 0;
              width: 150px;
              height: 25px;
              border-radius: 50px;
              padding-left: 10px;
              margin-top: 10px;

            }
          }




        }

      }

      &>#reseauxSociaux{
        width: 50%;
        border: 1px solid black;

          &>#fondImg{
            position: relative;
            width: 450px;
            height: 450px;
            border-radius: 50%;
            background-color: #F5D3D4;
            left: 25px;
            top: 180px;

              &>.rezo {
                width: 400px;
                height: 250px;
                display: flex;
                margin: 0 auto;
                padding-top: 15%;
                
      
              }

          }

        

        &>#logosSocial{
          position: absolute;
          top: 80%;
          left: 61%;
          transform: translate(-50%, -50%);

          &>.mediaLogo {
          
            position: absolute;
            transform-origin: bottom center;
            animation: orbit 10s linear infinite;

            &>img{
              width: 90px;
              height: 90px;
            }
          }

          

          @keyframes orbit {
            from {
              transform: rotate(0deg) translateY(225px);
            }
            to {
              transform: rotate(360deg) translateY(225px) rotate(-360deg);
            }
          }
          
          .mediaLogo:nth-child(2) {
            animation-delay: 1s;
          }
          
          .mediaLogo:nth-child(3) {
            animation-delay: 2s;
          }

          .mediaLogo:nth-child(4) {
            animation-delay: 3s;
          }

          .mediaLogo:nth-child(5) {
            animation-delay: 4s;
          }

          .mediaLogo:nth-child(6) {
            animation-delay: 5s;
          }

          .mediaLogo:nth-child(7) {
            animation-delay: 6s;
          }
        }


      }

      



    }


  }
}

/*....................FOOTER.............................*/

footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  border-top: solid 1px grey;
}


/*....................MEDIA.QUERIES.............................*/

@media only screen and (min-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .mainHeaderRes1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    &>#logo {
      




      &>a {
        

        &>img {
          

        }
      }
    }

    &>nav {
      

      &>ul {
        

        &>li {
          


          &>a {
            
            

            

          }
        }
      }
    }


  }

  /*....................SECTION.............................*/
  section {
    

  }

}

@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {}