/*............................RAZ.........................*/
* {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

.row-limit-size {
  max-width: 1200px;
  width: 100%;
}



/*....................HEADER.............................*/

body {
  background-color: #F5D3D4;
  width: 100%;
}

//a retirer en fin de css pour des soucis de coherence
.mainHeader {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #57304F;




  &>#logo {
    


    &>a {
      

      &>img {
        width: 200px;
        // height: 200px;
      }
    }

  }

  &>nav {
    width: 800px;
    text-align: center;




    &>ul {
      width: 800px;
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;



      &>li {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background-color: #57304F;
        display: flex;
        justify-content: center;
        align-items: center;

        &>a {
          width: 100%;
          text-decoration: none;
          font-size: 2.5rem;
          color: #F5D3D4;



        }

      }
    }
  }
}


/*....................SECTION.............................*/

main {
  display: flex;
  margin: 0 auto;

  &>#presentation {
    width: 100%;

    &>#bienvenue {

      background-image: url(./imgPresentation.png);
      background-repeat: no-repeat;
      display: flex;
     
      margin: 0 auto;
      width: 50%;
      height: 500px;
      
      &>#boxtext{
        // width: 50%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: 100px auto;

        &>h1 {
          width: 300px;
          font-size: 1rem;
          display: flex;
          
          margin: 10px auto;
          text-align: center;
          padding: 5px;
         color: #F5D3D4;
          
        }
  
        &>p {
          width: 300px;
          font-size: 1rem;
          text-align: center;
          color: #F5D3D4;
          display: flex;
          margin: 0 auto;
          // padding: 5px;
        } 
      }



      

      

    }

    &>aside {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &>fieldset {
        margin: 30px auto;
        border-radius: 5px;
        box-shadow: 20px 20px 20px;

        &>legend {
          width: 350px;
          color: #F5D3D4;
          background-color: #385a64;
          font-size: 1.8rem;
          padding: 5px 5px 5px 5px;
          margin-left: 5%;
          display: flex;
          justify-content: center;


        }

        &>.reponse {

          background-color: #F5D3D4;
          color: #57304F;
          font-size: 1.6rem;
          padding: 10px;

          span {
            font-weight: bold;
            font-size: 2rem;
          }

        }
      }

      &>.miroir {
        // width: 100%;
        margin: 30px auto;
        border-radius: 5px;
        box-shadow: 20px 20px 20px;

        &>legend {
          width: 350px;
          color: #F5D3D4;
          background-color: #385a64;
          font-size: 1.8rem;
          padding: 5px 5px 5px 5px;
          margin-left: 65%;
          display: flex;
          justify-content: center;


        }

        &>.reponse {

          background-color: #F5D3D4;
          color: #57304F;
          font-size: 1.6rem;
          padding: 10px;

          span {
            font-weight: bold;
            font-size: 2rem;
          }

        }
      }


    }




  }

  &>#formation {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#000 ;
    

    &>#bandit-manchot-before {

      display: flex;
    
      width: 300px;
      height: 100%;
      border-right: 3px solid gold;
      

    }

    &>#bandit-manchot-after {
     
      display: flex;
      width: 300px;
      height: 100%;
      border-left: 3px solid gold;

    }

    &>.arcade-menu {
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 0;
       
      &>#backgroundVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        pointer-events: none; 
        
      }

      &>#date-list {
        width: 100%;
        list-style-type: none;
        //margin: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        
        &>li {
          max-width: 30%;
          margin: 30px;
          flex: 1 0 30%; // Permet de définir trois éléments par ligne
          color: violet;

          &.highlight {
            border: 2px solid violet;

          }
        }
      }

      .controls {
        display: flex;
      
        #prev-btn {
          background-color: #800000;
          border-radius: 100px;
          width: 25px;
          height: 25px;
          cursor: pointer;
          border: 0;
          margin: 5px;
        }

        #next-btn {
          background-color: #800000;
          border-radius: 100px;
          width: 25px;
          height: 25px;
          cursor: pointer;
          border: 0;
          margin: 5px;
        }

        #select-btn {
          background-color: #D3D3D3;
          transform: rotate(-45deg);
          height: 25px;
          border: 0;
          margin: -5px 5px;
          cursor: pointer;
          border-radius: 50px;
          width: 50px;
          
          
         
        }

        #game-btn {
          background-color: #D3D3D3;
          transform: rotate(-45deg);
          cursor: pointer;
          border: 0;
          margin: -5px 5px ;
          height: 25px;
          border-radius: 50px;
          width: 50px;
         
        }
      }

      #popup-content {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        color: #000;
        padding: 20px;
        border: 2px solid #000;

        .close-btn {
          width: 50px;
          height: 50px;
          background-color: red;
          border-radius: 100px;
          float: right;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0;

        }
      }
    }
  }

  &>#mesProjets {
    

    &>article {
      

      &>.containerCards {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
        flex: 1 0 30%;


        &>.card {
          max-width: 350px;
          width: 100%;
          background-color: #57304F;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 25px;
          margin: 25px;
          
          &>.languages{

            &>img{
              width: 25px;
              height: 25px;
            }
          }

          &>img {
            width: 350px;
            height: 200px;
          }

          &>h1 {

            margin: 10px auto;
            color: #F5D3D4;
            font-size: 2.2rem;
          }

          &>h2 {
            width: 300px;
            margin-top: 10px;
            color: #F5D3D4;
            font-size: 2.0rem;
            text-align: center;
          }

          &>p {

            width: 348px;
            height: 90px;
            margin-top: 10px;
            background-color: #F5D3D4;
            color: #57304F;
            font-size: 1.5rem;
            text-align: center;
            border-left: 1px solid #57304F;
            border-right: 1px solid #57304F;

          }

          &>a {
            width: 250px;
            margin: 15px auto;
            border-radius: 10px;
            border: 1px solid black;
            text-align: center;
            font-size: 1.5rem;
            text-decoration: none;
            background-color: #F5D3D4;
            color: #57304F;

          }
        }





      }
    }
  }

  // &>#onglet {
  //   width: 400px;
  //   height: 50px;
  //   margin: 0 auto;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;


  //   &>a {
  //     width: 50%;
  //     color: #5f256f;
  //     text-align: center;
  //   }
  // }

  



  &>#contact {
    width: 100%;

    &>#titreFormulaire {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      color: #57304F;
    }

    &>#formulaire {
      max-width: 1000px;
      //width: 50%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 50px auto;
      background-color: #57304F;
      //box-shadow: 0 0 40px 30px #57304F;
      border-radius: 10px 10px 10px 10px;

      &>#boite {
        width: 50%;
        display: flex;
        flex-direction: column;

        &>#infosContact {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          &>h2 {
            color: #F5D3D4;
            margin-top: 10px;
          }

          &>p {
            margin-top: 20px;
            color: #F5D3D4;
          }
        }

        &>form {
          width: 500px;
          display: flex;
          flex-direction: column;
          margin-top: 25px;

          &>.champ {
            width: 250px;
            margin-left: 39px;
            margin-top: 30px;

            color: #14183d;

            &>label {
              color: #F5D3D4;
            }

            &>input {
              border: 0;
              height: 25px;
              border-radius: 50px;
              padding-left: 10px;
              margin-top: 10px;

            }

            &>textarea {
              width: 400px;
              height: 300px;
              resize: none;
              border-radius: 50px;
              text-align: center;
              margin-top: 10px;
            }
          }

          &>.formu {
            width: 100px;
            height: 50px;
            cursor: pointer;
            display: flex;
            margin: 25px auto;
            justify-content: center;
            align-items: center;
            color: #57304F;
            font-size: 1.3rem;
            background-color: #f5d3d4;
            border: 0;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0 0 10px 3px #5f256f;


          }

          &>.formu:hover {
            display: block;
            height: 50px;
            transform: scale(1.5, 1.5);
            //margin: 25px auto;
            cursor: pointer;
            text-align: center;
            line-height: 50px;
          }

          &>#identity {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 10px;

            &>.champ>label {
              color: #F5D3D4;
            }

            &>.champ>input {
              border: 0;
              width: 150px;
              height: 25px;
              border-radius: 50px;
              padding-left: 10px;
              margin-top: 10px;

            }
          }




        }

      }

      &>#reseauxSociaux {
        width: 50%;
        border: 1px solid black;

        &>#fondImg {
          position: relative;
          width: 450px;
          height: 450px;
          border-radius: 50%;
          background-color: #F5D3D4;
          left: 25px;
          top: 180px;

          &>.rezo {
            width: 400px;
            height: 250px;
            display: flex;
            margin: 0 auto;
            padding-top: 15%;


          }

        }



        &>#logosSocial {
          position: absolute;
          top: 80%;
          left: 61%;
          transform: translate(-50%, -50%);

          &>.mediaLogo {

            position: absolute;
            transform-origin: bottom center;
            animation: orbit 10s linear infinite;

            &>img {
              width: 90px;
              height: 90px;
            }
          }



          @keyframes orbit {
            from {
              transform: rotate(0deg) translateY(225px);
            }

            to {
              transform: rotate(360deg) translateY(225px) rotate(-360deg);
            }
          }

          .mediaLogo:nth-child(2) {
            animation-delay: 1s;
          }

          .mediaLogo:nth-child(3) {
            animation-delay: 2s;
          }

          .mediaLogo:nth-child(4) {
            animation-delay: 3s;
          }

          .mediaLogo:nth-child(5) {
            animation-delay: 4s;
          }

          .mediaLogo:nth-child(6) {
            animation-delay: 5s;
          }

          .mediaLogo:nth-child(7) {
            animation-delay: 6s;
          }
        }


      }





    }


  }
}

/*....................FOOTER.............................*/

footer {
  width: 100%;
  text-align: center;

  border-top: solid 1px grey;
}


/*....................MEDIA.QUERIES.............................*/

// @media only screen and (min-width: 320px) and (max-width: 600px) and (orientation: portrait) {
//   .mainHeaderRes1 {
//     max-width: 600px;
//     width: 100%;
//     display: flex;
//     margin-left: 50%;
//     margin-top: 25px;
//     border: none;






//   }

//   /*....................SECTION.............................*/
//   main{
//     max-width: 600px;
//     width: 100%;
//     border: 1px solid black;

//     &>#presentation{

//     width: 100%;

//     }

//   }


// }

// @media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {}