/*............................RAZ.........................*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.row-limit-size {
  max-width: 1200px;
  width: 100%;
}

/*....................HEADER.............................*/
body {
  background-color: #F5D3D4;
  width: 100%;
}

.mainHeader {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #57304F;
}
.mainHeader > #logo {
  width: 400px;
}
.mainHeader > #logo > a {
  width: 400px;
}
.mainHeader > #logo > a > img {
  width: 200px;
  height: 200px;
}
.mainHeader > nav {
  width: 800px;
  text-align: center;
}
.mainHeader > nav > ul {
  width: 800px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.mainHeader > nav > ul > li {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #57304F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHeader > nav > ul > li > a {
  width: 100%;
  text-decoration: none;
  font-size: 2.5rem;
  color: #F5D3D4;
}

/*....................SECTION.............................*/
main {
  display: flex;
  margin: 0 auto;
}
main > #presentation {
  width: 100%;
}
main > #presentation > #bienvenue {
  background-image: url(./imgPresentation.png);
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 500px;
}
main > #presentation > #bienvenue > #boxtext {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}
main > #presentation > #bienvenue > #boxtext > h1 {
  width: 300px;
  font-size: 1rem;
  display: flex;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
  color: #F5D3D4;
}
main > #presentation > #bienvenue > #boxtext > p {
  width: 300px;
  font-size: 1rem;
  text-align: center;
  color: #F5D3D4;
  display: flex;
  margin: 0 auto;
}
main > #presentation > aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main > #presentation > aside > fieldset {
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 20px 20px 20px;
}
main > #presentation > aside > fieldset > legend {
  width: 350px;
  color: #F5D3D4;
  background-color: #385a64;
  font-size: 1.8rem;
  padding: 5px 5px 5px 5px;
  margin-left: 5%;
  display: flex;
  justify-content: center;
}
main > #presentation > aside > fieldset > .reponse {
  background-color: #F5D3D4;
  color: #57304F;
  font-size: 1.6rem;
  padding: 10px;
}
main > #presentation > aside > fieldset > .reponse span {
  font-weight: bold;
  font-size: 2rem;
}
main > #presentation > aside > .miroir {
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 20px 20px 20px;
}
main > #presentation > aside > .miroir > legend {
  width: 350px;
  color: #F5D3D4;
  background-color: #385a64;
  font-size: 1.8rem;
  padding: 5px 5px 5px 5px;
  margin-left: 65%;
  display: flex;
  justify-content: center;
}
main > #presentation > aside > .miroir > .reponse {
  background-color: #F5D3D4;
  color: #57304F;
  font-size: 1.6rem;
  padding: 10px;
}
main > #presentation > aside > .miroir > .reponse span {
  font-weight: bold;
  font-size: 2rem;
}
main > #formation {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
}
main > #formation > #bandit-manchot-before {
  display: flex;
  width: 300px;
  height: 100%;
  border-right: 3px solid gold;
}
main > #formation > #bandit-manchot-after {
  display: flex;
  width: 300px;
  height: 100%;
  border-left: 3px solid gold;
}
main > #formation > .arcade-menu {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
main > #formation > .arcade-menu > #backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
main > #formation > .arcade-menu > #date-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
main > #formation > .arcade-menu > #date-list > li {
  max-width: 30%;
  margin: 30px;
  flex: 1 0 30%;
  color: violet;
}
main > #formation > .arcade-menu > #date-list > li.highlight {
  border: 2px solid violet;
}
main > #formation > .arcade-menu .controls {
  display: flex;
}
main > #formation > .arcade-menu .controls #prev-btn {
  background-color: #800000;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 0;
  margin: 5px;
}
main > #formation > .arcade-menu .controls #next-btn {
  background-color: #800000;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 0;
  margin: 5px;
}
main > #formation > .arcade-menu .controls #select-btn {
  background-color: #D3D3D3;
  transform: rotate(-45deg);
  height: 25px;
  border: 0;
  margin: -5px 5px;
  cursor: pointer;
  border-radius: 50px;
  width: 50px;
}
main > #formation > .arcade-menu .controls #game-btn {
  background-color: #D3D3D3;
  transform: rotate(-45deg);
  cursor: pointer;
  border: 0;
  margin: -5px 5px;
  height: 25px;
  border-radius: 50px;
  width: 50px;
}
main > #formation > .arcade-menu #popup-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding: 20px;
  border: 2px solid #000;
}
main > #formation > .arcade-menu #popup-content .close-btn {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 100px;
  float: right;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
main > #mesProjets > article > .containerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  flex: 1 0 30%;
}
main > #mesProjets > article > .containerCards > .card {
  max-width: 350px;
  width: 100%;
  background-color: #57304F;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  margin: 25px;
}
main > #mesProjets > article > .containerCards > .card > img {
  width: 350px;
  height: 200px;
}
main > #mesProjets > article > .containerCards > .card > h1 {
  margin: 10px auto;
  color: #F5D3D4;
  font-size: 2.2rem;
}
main > #mesProjets > article > .containerCards > .card > h2 {
  width: 300px;
  margin-top: 10px;
  color: #F5D3D4;
  font-size: 2rem;
  text-align: center;
}
main > #mesProjets > article > .containerCards > .card > p {
  width: 348px;
  height: 90px;
  margin-top: 10px;
  background-color: #F5D3D4;
  color: #57304F;
  font-size: 1.5rem;
  text-align: center;
  border-left: 1px solid #57304F;
  border-right: 1px solid #57304F;
}
main > #mesProjets > article > .containerCards > .card > a {
  width: 250px;
  margin: 15px auto;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #F5D3D4;
  color: #57304F;
}
main > #onglet {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main > #onglet > a {
  width: 50%;
  color: #5f256f;
  text-align: center;
}
main > #contact {
  width: 100%;
}
main > #contact > #titreFormulaire {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: #57304F;
}
main > #contact > #formulaire {
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
  background-color: #57304F;
  border-radius: 10px 10px 10px 10px;
}
main > #contact > #formulaire > #boite {
  width: 50%;
  display: flex;
  flex-direction: column;
}
main > #contact > #formulaire > #boite > #infosContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > #contact > #formulaire > #boite > #infosContact > h2 {
  color: #F5D3D4;
  margin-top: 10px;
}
main > #contact > #formulaire > #boite > #infosContact > p {
  margin-top: 20px;
  color: #F5D3D4;
}
main > #contact > #formulaire > #boite > form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
main > #contact > #formulaire > #boite > form > .champ {
  width: 250px;
  margin-left: 39px;
  margin-top: 30px;
  color: #14183d;
}
main > #contact > #formulaire > #boite > form > .champ > label {
  color: #F5D3D4;
}
main > #contact > #formulaire > #boite > form > .champ > input {
  border: 0;
  height: 25px;
  border-radius: 50px;
  padding-left: 10px;
  margin-top: 10px;
}
main > #contact > #formulaire > #boite > form > .champ > textarea {
  width: 400px;
  height: 300px;
  resize: none;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}
main > #contact > #formulaire > #boite > form > .formu {
  width: 100px;
  height: 50px;
  cursor: pointer;
  display: flex;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
  color: #57304F;
  font-size: 1.3rem;
  background-color: #f5d3d4;
  border: 0;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 10px 3px #5f256f;
}
main > #contact > #formulaire > #boite > form > .formu:hover {
  display: block;
  height: 50px;
  transform: scale(1.5, 1.5);
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}
main > #contact > #formulaire > #boite > form > #identity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
main > #contact > #formulaire > #boite > form > #identity > .champ > label {
  color: #F5D3D4;
}
main > #contact > #formulaire > #boite > form > #identity > .champ > input {
  border: 0;
  width: 150px;
  height: 25px;
  border-radius: 50px;
  padding-left: 10px;
  margin-top: 10px;
}
main > #contact > #formulaire > #reseauxSociaux {
  width: 50%;
  border: 1px solid black;
}
main > #contact > #formulaire > #reseauxSociaux > #fondImg {
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: #F5D3D4;
  left: 25px;
  top: 180px;
}
main > #contact > #formulaire > #reseauxSociaux > #fondImg > .rezo {
  width: 400px;
  height: 250px;
  display: flex;
  margin: 0 auto;
  padding-top: 15%;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial {
  position: absolute;
  top: 80%;
  left: 61%;
  transform: translate(-50%, -50%);
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial > .mediaLogo {
  position: absolute;
  transform-origin: bottom center;
  animation: orbit 10s linear infinite;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial > .mediaLogo > img {
  width: 90px;
  height: 90px;
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateY(225px);
  }
  to {
    transform: rotate(360deg) translateY(225px) rotate(-360deg);
  }
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(2) {
  animation-delay: 1s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(3) {
  animation-delay: 2s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(4) {
  animation-delay: 3s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(5) {
  animation-delay: 4s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(6) {
  animation-delay: 5s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(7) {
  animation-delay: 6s;
}

/*....................FOOTER.............................*/
footer {
  width: 100%;
  text-align: center;
  border-top: solid 1px grey;
}

/*....................MEDIA.QUERIES.............................*//*# sourceMappingURL=style.css.map */