body {
    background-color: rgb(180, 150, 93);
    }
    
    #bloc_page {
    width: 950px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    }
    
    header {
    border: 1px solid black;
    }
    
    nav ul {
    background-color: rgb(190, 169, 112);
    text-align: center;
    list-style-type: none;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    nav li {
    font-size: 1em;
    margin: 0 10px;
    }
    
    nav a {
    padding: 2px;
    text-decoration: none;
    }
    
    aside {
    background-color: rgb(190, 169, 112);
    width: 14%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    section {
    background-color: rgb(220, 213, 192);
    width: 85%;
    border: 1px solid black;
    overflow: auto;
    }
    
    .map {
    width: 50px;
    height: 100px;
    margin: auto;
    border: 1px solid black;
    }