body
{
background-color: rgb(180,150,93);
}
#bloc_page
{
width:950px;
margin: auto;
}
header
{
border: 1px solid black;
}
nav ul
{
background-color: rgb(190,169,112);
text-align:center;
list-style-type: none;
border: 1px solid black;
}
nav li
{
display: inline-block;
font-size: 1em;

}
nav a
{
padding: 2px;
text-decoration: none;
}
aside
{
background-color: rgb(190,169,112);
width:14%;
height:30%;
border: 1px solid black;

}
section
{
background-color: rgb(220,213,192);
width: 85%;
height:510px;				/*test design effectuer et pas du tout au point a travailler pour y mettre le footer sans soucis */
float:right;
border: 1px solid black;
overflow:auto;
}
	

.map
{
width : 50px;
height : 100px;
margin : auto;
border: 1px solid black;
}
