*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
}

#contnair{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn{
    width: 100px;
    height: 100px;
    background-color: #ccc;
    font-size: 3rem;
    border: 0 ;
    border-radius: 50%;
    box-shadow: 0 5px #111;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#btn:active{
    margin-top: 5px;
    box-shadow: 0 0 #444;
}

#slots{
    position: relative;
}

.slot{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}