@font-face {
    font-family: "Open Sans-Regular";
    src: url(./OpenSans-Regular.woff2) format("woff2"),
        url(./OpenSans-Regular.woff) format("woff");
}

@font-face {
    font-family: "Open Sans-Bold";
    src: url(./OpenSans-Bold.woff) format("woff"),
        url(./OpenSans-Bold.woff2) format("woff2");

}

@font-face {
    font-family: "poppins-bold";
    src: url(./poppins-bold.woff) format("woff"),
        url(./poppins-bold.woff2) format("woff2");
}

@font-face {
    font-family: "poppins-italic";
    src: url(./poppins-italic.woff) format("woff"),
        url(./poppins-italic.woff2) format("woff2");
}

@font-face {
    font-family: "poppins-regular";
    src: url(./poppins-regular.woff) format("woff"),
        url(./poppins-regular.woff2) format("woff2");
}

@font-face {
    font-family: "volkhov-bold";
    src: url(./volkhov-bold.woff) format("woff"),
        url(./volkhov-bold.woff2) format("woff2");
}

@font-face {
    font-family: "volkhov-italic";
    src: url(./volkhov-italic.woff) format("woff"),
        url(./volkhov-italic.woff2) format("woff2");
}

@font-face {
    font-family: "volkhov-regular";
    src: url(./volkhov-regular.woff) format("woff"),
        url(./volkhov-regular.woff2) format("woff2");
}