{% extends "template.html.twig" %}

{% block title %}Bienvenue sur mon Portfolio
{% endblock %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block content %}





<section id="formation">
	<div id="groupstyle">
	
		<div id="etudesEtDiplomes">
			<h2>Etudes et diplômes</h2>
			<ul>
				<li>2023 : Developpeur Web et Web Mobile </li>
				<li>2014 : Action Territoriale d'Insertion 5 mois AREP de Fougères</li>
				<li>2013 : Compétences Clés3 mois CLPS Fougères</li>
				<li>2008 : Prestation d'Orientation Professionnelle 3 mois CLPS Fougères</li>
				<li>2007 : Niveau CAP Boulanger 2 ans CFA Ker lann</li>
				<li>2003 : B2I college jeanne d’arc fougere</li>
			</ul>
		</div>

		

		<div id="Expro">
				<h2>Expériences professionnelles : </h2>
				<p>
					2023 <span class="ligne">developpeur web stagiaire</span>
					2 mois <span class="ligne">ENTREPRISE-VILLE</span>
					
					2018 <span class="ligne">developpeur web stagiaire (stage de decouverte)</span>
					3 semaine <span class="ligne">ATI informatique-St Aubin du Cormiers</span>
					
				</p>
		</div>
	</div>

	<div class="carousel">
		<h2>Compétences</h2>

		<div class="carouselItem">
			<img src="./asset/media/SVG/behance.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/css3.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/discord.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/dribbble.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/figma.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/git.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/github.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/html5.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/js.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/notion.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/php.svg">
		</div>

		<div class="carouselItem">
			<img src="./asset/media/SVG/vs_code.svg">
		</div>
	</div>
</section>










<script src="./carousel.js"></script>
{% endblock %}