

    


    <header class=" mainHeader mainHeaderRes1 mainHeaderRes2 mainHeaderRes3">

        <div id="logo"><a href="{{ path('home') }}"> <img src="./asset/media/images/logoDef.png" title="retour a l'accueil"> </a></div>
        <nav>
            <ul>
                <li><a href="{{ path('formation') }}">Formation</a></li>
                <li><a href="{{ path('projets') }}">Projets</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>


    </header>
    <main>
   